!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %title Idea Canvas App
    %meta{content: "Idea Canvas App is an iPad application that lets you structure your startup ideas, following the lean model canvas, which is an optimized business model canvas for lean startups.", name: "description"}/
    %meta{content: "Carlos Vilhena, carlosvilhena.com", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, minimal-ui", name: "viewport"}/

    %link{ href: 'http://fonts.googleapis.com/css?family=Roboto:300,500',
           rel: 'stylesheet', type: 'text/css'}/

    != css :application, :media => 'screen'
    != js :application
    :javascript
      new WOW().init();

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    %link{href: "images/favicon.ico", rel: "shortcut icon"}/
    %link{href: "images/apple-touch-icon.png", rel: "apple-touch-icon"}/
    %link{href: "images/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "images/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/

  %body
    .container.hero
      .nine.columns.alpha
        .main-message
          %h1.main-title.wow.fadeInDown Idea Canvas.
          %h3.proposition.wow.fadeInDown{ data: { 'wow-delay' => '1s'}} Where startups begin.
          .sneak-peek-mobile
          .download-link.wow.slideInLeft{ data: { 'wow-delay' => '2s'}}
            %a.link-to-store{ href: '#' }
              %object{ data: 'images/download_badge_135x40.svg',
                       type: 'image/svg+xml'}
                %img{ src: 'images/download_badge_135x40.png',
                      alt: 'Download Now', text: 'Download Now' }

      .three.columns.omega
        .sneak-peek.wow.slideInRight{data: { 'wow-delay' => "2s" }}

    .footer
      %span.copy © 2014 Idea Canvas
      %ul
        %li
          %a{ href: '#'} built by adsantos
        %li
          %a{ href: '#'} designed by jamille
        %li
          %a{ href: '#'} site by carvil

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48334066-3']);
      _gaq.push(['_setDomainName', 'ideacanvasapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
