body {
  /* background-image: url('/images/wood.jpg'); */
  /* background-size:1600px 960px; */
  /* background-repeat:no-repeat; */
  /* overflow-x:hidden; */
  background-color: #AAD4DA;
}

a {
  text-decoration: none;
}

.hero {
  top: 70px;
}

@media only screen and (max-width: 767px) {
  .hero {
    top: 0px;
  }
}

.sneak-peek {
  position: fixed;
  background-image: url('/images/canvas-ipad-air-black.png');
  background-size: cover;
  min-height: 730px;
  background-position: -83px center;
  min-width: 1000px;
}

.sneak-peek-mobile {
  background-image: url('/images/canvas-ipad-air-black.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: 120px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
}

@media only screen and (max-width: 479px) {
  .sneak-peek {
    display: none;
  }
  .sneak-peek-mobile {
    display: block;
  }
}

@media only screen and (min-width: 480px) {
  .sneak-peek-mobile {
    display: none;
  }
  .sneak-peek {
    display: block;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .sneak-peek-mobile {
    height: 380px;
    margin: 260px auto;
    display: block;
  }
  .sneak-peek {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sneak-peek-mobile {
    display: none;
  }
  .sneak-peek {
    display: block;
  }
}

h1.main-title {
  color: #31223A;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 0.85em;
}

@media only screen and (max-width: 479px) {
  h1.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 0.80em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 0.80em;
  }
}

h3.proposition {
  color: #1F243A;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 0.8em;
}

@media only screen and (max-width: 479px) {
  h3.proposition {
    text-align: center;
    font-size: 20px;
    line-height: 0.8em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3.proposition {
    text-align: center;
    font-size: 30px;
    line-height: 0.8em;
  }
}

div.main-message {
  margin-top: 120px;
}

@media only screen and (max-width: 768px) {
  div.main-message {
    margin-top: 10px;
  }
}

div.download-link {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 479px) {
  div.download-link {
    margin-top: 250px;
  }
}

a.link-to-store {
  position: relative;
  display: inline-block;
}

a.link-to-store:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.messaging {
  /* margin-right: 0px !important; */
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:50px;
  overflow:hidden;
  background-color:#1C626C;
  font-size:15px;
  line-height:50px;
  padding:0 30px;
  color:#6CACB5;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;*zoom:1
}

@media only screen and (max-width: 500px) {
  .footer{
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
  }
}

.footer:after {
  content:"";
  display:table;
  clear:both
}

.footer span {
  float:left;
}

.footer ul {
  float:right
}

@media only screen and (max-width: 500px){
  .footer ul{
    float:none
  }
}

.footer ul li {
  display:inline-block; *display:inline; *zoom:1
}

@media only screen and (max-width: 500px) {
  .footer ul li {
    display:none
  }
}

.footer ul li:last-child {
  padding:0
}

.footer ul li a {
  display:block;
  height:100%;
  padding:0 15px;
  color:#6CACB5;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

.footer ul li a:hover {
  color:#AAD4DA;
}

.footer ul li.home {
  display:none
}

.footer ul li.justify {
  display:none
}
