body {
  overflow-x:hidden;
  background-color: #AAD4DA;
}

a {
  text-decoration: none;
}

.hero {
  top: 70px;
}

img.sneak-peek {
  position: fixed;
  right: 0px;
  top: 70px;
  margin-right: -200px;
  z-index: 1000;
  max-height: 600px;
}

h1.main-title {
  color: #31223A;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 0.85em;
}

h3.proposition {
  color: #1F243A;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 0.8em;
}

div.main-message {
  margin-top: 120px;
}

div.download-link {
  margin-top: 50px;
  text-align: center;
}

a.link-to-store {
  position: relative;
  display: inline-block;
}

a.link-to-store:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:50px;
  overflow:hidden;
  background-color:#1C626C;
  font-size:15px;
  line-height:50px;
  padding:0 30px;
  color:#6CACB5;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;*zoom:1
}

@media only screen and (max-width: 500px) {
  .footer{
    padding:0;
    display:none
  }
}

.footer:after {
  content:"";
  display:table;
  clear:both
}

.footer span {
  float:left
}

.footer ul {
  float:right
}

@media only screen and (max-width: 500px){
  .footer ul{
    float:none
  }
}

.footer ul li {
  display:inline-block; *display:inline; *zoom:1
}

@media only screen and (max-width: 500px) {
  .footer ul li {
    display:none
  }
}

.footer ul li:last-child {
  padding:0
}

.footer ul li a {
  display:block;
  height:100%;
  padding:0 15px;
  color:#6CACB5;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

.footer ul li a:hover {
  color:#AAD4DA;
}

.footer ul li.home {
  display:none
}

.footer ul li.justify {
  display:none
}
